services:
  webserver:
    image: nginx:1.26-alpine
    ports:
      - 8000:80
    volumes:
      - ./:/var/www/html:cached
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    links:
      - php
    depends_on:
      - php
  php:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    volumes:
      - ./:/var/www/html:cached
      - ./.docker/php/99-overrides.ini:/etc/php/8.5/fpm/conf.d/99-overrides.ini
      - ./.docker/php/99-overrides.ini:/etc/php/8.5/cli/conf.d/99-overrides.ini
    depends_on:
      - postgres
      - redis
    ports:
      - 5173:5173
  php-worker:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    command: supervisord -n
    volumes:
      - ./:/var/www/html:cached
      - ./.docker/php/99-overrides.ini:/etc/php/8.5/fpm/conf.d/99-overrides.ini
      - ./.docker/php/99-overrides.ini:/etc/php/8.5/cli/conf.d/99-overrides.ini
      - ./.docker/php/supervisor.d:/etc/supervisor/conf.d
    depends_on:
      - php
  postgres:
    image: postgres:18-alpine
    ports:
      - 54320:5432
    volumes:
      - postgres:/var/lib/postgresql/data
      #    - ./.docker/postgresql/init.sh:/docker-entrypoint-initdb.d/init.sh
      # - ./.docker/postgresql/appname-schema.dump:/appname-schema.dump
      # - ./.docker/postgresql/appname-data.dump:/appname-data.dump
    environment:
      POSTGRES_USER: appname
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: appname
  redis:
    image: redis:8.4-alpine
    ports:
      - 63790:6379
    command: redis-server --appendonly yes

volumes:
  postgres:
